## CLIENT
client/node_modules
client/.next/
client/out/
build/build

## SERVER
server/node_modules
server/dist


## LOCAL ENV VARIABLES
.env.local
.env.development.local
.env.test.local
.env.production.local

